.emotion-res-container {
    width: 100%;               /* 화면 크기에 따라 유동적 */
    max-width: 700px;         /* 큰 화면일 때 최대폭 제한 */
    margin: 0 auto;           /* 좌우 중앙 정렬 */
    height: auto;             /* content에 맞게 자동 높이 */
    min-height: 60vh;         /* 너무 작지 않도록 최소 높이 */
    background: rgba(10,16,42,0.8);
    border-radius: 16px;
    box-shadow:
            inset 0 0 10px rgba(255,255,255,0.05),
            0 0 20px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      /* 가운데 정렬 */
    padding: 1rem;
    gap: 1rem;
    box-sizing: border-box;   /* padding 포함 */
}

.emotion-res-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
/*
    clamp : 화면 크기에 따라 자동으로 세 값을 계산
    clamp(최솟값, 이상적 값, 최댓값)

    [동작 원리]
    1. 브라우저는 이상적 값(2번째 값)을 계산
    vw 혹은 %로 계산됨
    2. 이상적 값이 최솟값보자 작으면 최솟값으로 고정
       최댓값보다 크면 최댓값으로 고정
       그 외엔 이상적 값을 유지

    ex) clamp(350px, 80vw, 700px)
    1. 기본 크기 : 80vw (화면의 80%)
    2. 화면의 80% 값이 350px보다 작으면 : 350px로 고정
       화면의 80% 값이 700px보다 크면 : 700px로 고정
       그 사이면 80%로 고정

    화면 너비 ----- 80vw 계산값 ---- 최종 width
      375px          300px          350px (최솟값 적용)
      500px          400px          400px
      700px          560px          560px
      900px          720px          700px (최댓값 적용)
      1200px         960px          700px (최댓값 적용)

*/

.emotion-flower {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(255,255,255,0.1);
    transition: transform 0.3s ease;
}

.emotion-res-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.emotion-res-text {
    width: 90%;
    text-align: center;
    color: #ffffff;
    margin: 7% 3%;
}

.emotion-res-score {
    text-align: center;
    margin: 1.5% 3%;

    font-size: 1.4rem;
    font-weight: 600;
    text-shadow: 0 0 5px rgba(255,255,255,0.3);
}

.emotion-res-cmnt {
    white-space: pre-line;
    margin: 2% 2%;
    font-size: 1.15rem;
    text-align: center;

    color: #DDEEFF;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

