/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* korean -english fonts*/
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ownglyph_corncorn-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* external fonts */
/*@font-face {*/
/*  font-family: 'Mona Sans';*/
/*  src:*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-ExtraLight.woff2') format('woff2'),*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-ExtraLight.woff2') format('woff');*/
/*  font-weight: 200;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Mona Sans';*/
/*  src:*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-Light.woff2') format('woff2'),*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-Light.woff2') format('woff');*/
/*  font-weight: 300;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Mona Sans';*/
/*  src:*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-Regular.woff2') format('woff2'),*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-Regular.woff2') format('woff');*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Mona Sans';*/
/*  src:*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-Medium.woff2') format('woff2'),*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-Medium.woff2') format('woff');*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Mona Sans';*/
/*  src:*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-SemiBold.woff2') format('woff2'),*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-SemiBold.woff2') format('woff');*/
/*  font-weight: 600;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Mona Sans';*/
/*  src:*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-Bold.woff2') format('woff2'),*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-Bold.woff2') format('woff');*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Mona Sans';*/
/*  src:*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-ExtraBold.woff2') format('woff2'),*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-ExtraBold.woff2') format('woff');*/
/*  font-weight: 800;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Mona Sans';*/
/*  src:*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-Black.woff2') format('woff2'),*/
/*    url('./assets/fonts/mona-sans/WOFF-2/MonaSans-Black.woff2') format('woff');*/
/*  font-weight: 900;*/
/*  font-style: normal;*/
/*}*/

